{{template "../template/header.html"}}
    <title>Blog-Login</title>
</head>
<body>
<div class="container mt-5">
    <div class="row col-6">
        <form class="col-12" method="POST" action="/login">
            <div class="mb-3 col-12">
                <label class="form-label">管理员账号</label>
                <input type="text" class="form-control col-12" name="account">
            </div>
            <div class="mb-3 col-12">
                <label class="form-label">管理员密码</label>
                <input type="password" class="form-control col-12" name="password">
            </div>
            <div class="mb-3 col-12">
                <button type="submit" class="btn btn-primary col-2">登陆</button>
            </div>
        </form>
    </div>

</div>


</body>
</html>